* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.content {
  padding: 2rem;
  height: 100vh;
  width: 100vw;
  background-color: rgba(27, 22, 14, 0.8);
}

footer {
  position: fixed;
  bottom: 3em;
  right: 1em;
}

footer i {
  color: #fff;
  font-size: 2rem;
}

footer .contact {
    display: flex;
    justify-content: space-between;
    width: 10rem;
    float: right;
}

h1 {
  font-size: 3em;
}
