:root {
  --main-text: 'Yesteryear', cursive;
  --title-text: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: var(--title-text);
}
.content {
  background-color: rgba(27, 22, 14, 0.8);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  width: 100vw;
}

.title {
  font-family: var(--main-text);
  margin-bottom: .2em;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.swap {
  align-items: flex-start;
  display: flex;
}

footer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}


footer .info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p{
  font-size: .9em;
}

footer i {
  color: #fff;
  font-size: 2rem;
}

footer .contact {
  display: flex;
  justify-content: space-between;
  margin-top: .4em;
  width: 10rem;
}

h1 {
  font-size: 3em;
}
